/* resets default spaces*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}

body {
    background-color: #ffffff;
    color: #000000;
    display: flex;
    justify-content: center;
    flex: auto;
    align-items: center; 
    min-height: 100vh;
}

/* nav bar styling*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid #e5e7eb;
}
/* 3-lines menu on left*/
.nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
}
/* sttylig of 3-lines*/
#menu-toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* the slidebar container 3-lines*/
.sidebar {
    position: fixed;   /* fixes in place so stays on screen*/
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    background-color: #ffffff;
    padding: 40px;
    z-index: 1000;              /* keeps it on top all elements */
    transition: left 0.3s ease;  /* slide animation tracing to left position*/
}

/*2. the close (X) button */
#close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    font-size: 28px;
    cursor: pointer;
    color: #6b7280;
}

/*3. menu links & catagories */
.sidebar-links h3 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #9ca3af;
    margin-top: 30px;
    margin-bottom: 15px;
}

.sidebar-links a {
    display: block;             /* places each link on a brand new line (on top of each other ig)*/
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 12px;
}

/* the magic interactive trigger*/
.sidebar.active {
    left: 0;
}

/* brand logo styling*/
.brand-name {
    font-weight: 700;
    font-size: 20px;
}
/* styling the get started button*/
.btn-get-started {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
}
/* hero section styling*/
#hero{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 20px;
}

.hero-intro {
    font-size: 16px;
    letter-spacing: 2px;
    color: #4b5563;
    margin: 15px;
}

.heading {
    font-size: 48px;
    font-weight: 800px;
    margin: 20px;
}

.hero-description {
    font-size: 18px;
    color: #6b7280;
}
